<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062759825025-fhv8obhat87q3hjrkjaqqolkv71qseu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062759825025-fhv8obhat87q3hjrkjaqqolkv71qseu1</string>
	<key>API_KEY</key>
	<string>AIzaSyB7vjAGB4jTA0kNh3oKI0vTF9Lmt5pjlrs</string>
	<key>GCM_SENDER_ID</key>
	<string>1062759825025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.essentialdeveloper.FinalFoodies</string>
	<key>PROJECT_ID</key>
	<string>foodiez-c2a91</string>
	<key>STORAGE_BUCKET</key>
	<string>foodiez-c2a91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062759825025:ios:2fe88e0617d93abb695780</string>
</dict>
</plist>