<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.47827016205-gf7v4j424m35d4p8nkvvltlrj6h8j0uc</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>47827016205-gf7v4j424m35d4p8nkvvltlrj6h8j0uc.apps.googleusercontent.com</string>
</dict>
</plist>
